.exciting-text::after{
    content: "<-- Exciting";
    color: green;
}
.boring-text::after{
    content: "<--Boring";
    color:red;
}

.ribbon{
    background-color: #5bc8f7;
}

.ribbon::after{
    content: "This is fancy orange box";
    background-color: #ffba10;
    border-color: black;
    border-style: dotted;

}